<% provide(:title, "#{@user.name} @#{@user.username}") %>

<div class="row">
	<div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1">
		<div class="col">
			<%= render 'partials/user', u: @user %>
		</div>
		<div class="col">
			<%= image_tag @user.profile_pic if @user.profile_pic? %>
		</div>
	</div>
	<div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1">
		<%= render 'partials/stats' %>
	</div>
	<div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1">
		<% if @user.streams.any? %>
			<h3 class="text-center">Stream Times</h3>
			<ul class="list-group">
				<% @user.streams.each do |s| %>
					<%= render 'partials/stream', s: s %>
				<% end %>
			</ul>
		<% end %>
	</div>
</div>