<% provide(:title, @title) %>

<% if logged_in? %>
	<div class="row">
		<div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-10 offset-1">
			<%= render 'forms/stream' if current_user.streamer? %>
		</div>
	</div>
	<div class="row">
		<div class="col-10 offset-1">
			<%= render 'partials/following_schedule' %>
		</div>
	</div>
<% else %>
	<h1 class="text-center">Welcome!</h1>
	<%= button_to signup_path, method: :get,  class: "btn btn-primary d-block mx-auto" do %>
		<%= icon('fas', 'check') %> Sign up!
	<% end %>
<% end %>